[submodule "fairtris2"]
	path = fairtris2
	url = https://github.com/g-maxim-u/Fairtris-2-UC.git
[submodule "circle-libfpc"]
	path = circle-libfpc
	url = git@github.com:Xalior/circle-libfpc.git
[submodule "rapi-bootloader"]
	path = rapi-bootloader
	url = git@github.com:Xalior/rapi-bootloader.git
